@import url(https://fonts.bunny.net/css?family=albert-sans:500|allerta:400);

:root {
  --logo-font: "Allerta", sans-serif;
  --main-font: "Albert Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left {
  width: 600px;
  height: 100vh;

  background-image: url(./images/wall.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.logo-container {
  margin-top: 200px;
  display: flex;
  height: 100px;
  padding: 10px;

  background-color: rgb(0 0 0 / 50%);

  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo-container p {
  color: #FFFFFF;
  font-family: var(--logo-font);
  font-size: 3rem;
}


.right {
  display: flex;
  flex-direction: column;

  font-family: var(--main-font);
  background-color: #f8fafa;
  font-size: 1.2rem;
}

.right .upper {
  margin-top: 150px;
  margin-right: 200px;
  padding-left: 50px;
}

.right .upper p {
  margin-bottom: 30px;
}

.register {
  background-color: #FFFFFF;
  padding: 25px 0;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
}

.inputs {
  width: 60%;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px 50px;
  font-size: 0.7rem;
  min-width: 0;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box * {
  flex: 0;
  max-width: 250px;
}

.input-box input {
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  outline: none;
}

.input-box.password input:invalid {
  border-color: red;
}

.input-box input:focus {
  border-color: blue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 10px 0px;
}

.lower {
  padding-left: 50px;
  padding-top: 25px;
}

.lower button {
  background-color: #171D19;
  color: #FFFFFF;
  padding: 10px 50px;
  border: 0px;
  border-radius: 5px;
  font-family: var(--main-font);
}

.lower button:hover {
  background-color: #3F413C;
}

.lower p {
  margin-top: 10px;
  font-size: 0.7rem;
}

.login-link, .login-link:visited {
  color: #609E76;
}

.login-link:hover {
  color: #C9312C;
}
